* {
  box-sizing: border-box;
  border: 0.5px solid transparent;
}

html, body {
  max-width: 100%;
  font-family: "Andale Mono", AndaleMono, monospace; 
  color:  #91A8D1;
  text-align: center;
  margin: 0; 
  padding: 0; 
  background-color:#FEC7C7;
}

body {
  font-family: "Andale Mono", AndaleMono, monospace;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  color: #91A8D1;
}

.button {
  width: 6rem;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: transparent;
  border: none;
  height: 3rem;
  color: #91A8D1;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  color:  #7AB0AD;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin: 2% 0% 2% 0%;
  color: black;
  border-radius: 3px;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
}

#app, .container {
  width: 100%;
  height: 100%; 
}

.container {
  position: relative;
}

label {
  font-size: 1rem;
  color: #7AB0AD;
  margin-bottom: 0rem;
}

/* NAV  */

.navbar {
  position: relative;
  display: flex;
  height: 10%;
  width: 100%; 
  background-color: #FEC7C7;
  margin: 0;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 30%; 
}

.navbarmenu {
  position: absolute;
  right: 0.7rem;
  padding: 1rem;
}

.navbarmenu a {
  width: 5rem;
  height: 2rem;
  margin: 1rem 0 0 1rem;
  font-size: 1rem;
}

/* HOME */

.container-main {
  margin-top: 0;
}

.column {
  background-color: #FEC7C7;
}

.home-container {
  padding-bottom: 3rem; 
}

/* ABOUT */
.about{
  text-align: center;
}

.aboutme.column {
  height:700px;
}

.aboutme.column img {
  max-width: 100%;
 overflow: hidden;
}

.about {
  position: relative; 
  padding-top: 20%; 
  padding-bottom: 6%;
}

.about p {
  font-size: 1.3rem;
  margin: 1rem 3rem 1rem 3rem;
  font-style: italic;
  color:  #91A8D1;
}

.homebuttons {
  display: inline;
}

hr {
  color:#91A8D1;
  width: 40%;
  height: 0.75rem; 
  text-align: center;
  margin: 0 auto;
}

.overview {
  padding: 3rem;
}

.overview h2 {
  font-size: 4.5rem;
}

.overview.column {
  border-top: none;
}

.about-blurb {
  background-color: #FEC7C7;
  text-align: left;
  padding: 1rem;
  padding-right: 2rem; 
}

.about-blurb h3 {
  font-size: 1.5rem;
}

.about-blurb p{
  padding-top: 1rem;
}

.homesummary a {
  border: 3px solid white;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #91A8D1;
  color: white;
}

.homesummary a:hover {
  background-color: white;
  color: #91A8D1;
}

/* FOOTER */

.footer {
  width: 90%;
  margin: auto;
  height: 5%;
  background-color: #FEC7C7;
  margin-bottom: 0;
  color: #91A8D1;
  border-top: 2px solid #91A8D1;
  padding: 3rem 1.5rem 3rem;
}

.footer a {
  color: #91A8D1;
  border: .3px solid transparent;
}

.app {
  background-color: #7AB0AD;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 400px) {
  .navbar-brand img {
    width: 22%; 
  }

  .field.has-addons {
    width: 60%;
  }  
}  

@media only screen and (min-width: 640px) {
  .navbar-brand img {
    width: 18%; 
  }

  .field.has-addons {
    width: 40%;
  }  
}

@media only screen and (min-width: 800px) {
  .container {
    height: 100vh;
  }

  .navbarmenu .button {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
  }

  .companyList {
    text-align: left;
  }

  .companyList ul {
    text-align: left; 
  }

  .companyList h3 {
    margin-left: 1rem;
  }

  .field.has-addons {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: left;
  }

  .about p {
    font-size: 1.6rem;
  }  
}

@media only screen and (min-width: 900px) {
  .navbar-brand img {
    width: 15%; 
  }
}
